#!/usr/bin/env python
PACKAGE = "franka_controllers"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("left_translational_stiffness", double_t, 0, "Cartesian translational stiffness", 200, 0, 400)
gen.add("left_rotational_stiffness", double_t, 0, "Cartesian rotational stiffness", 10, 0, 30)
gen.add("left_nullspace_stiffness", double_t, 0, "Stiffness of the joint space nullspace controller (the desired configuration is the one at startup)", 0, 0, 100)
gen.add("left_k_gains_1234", double_t, 0, "k_gains for joint 1234", 500, 0, 650)
gen.add("left_k_gains_5", double_t, 0, "k_gains for joint 5", 200, 0, 300)
gen.add("left_k_gains_6", double_t, 0, "k_gains for joint 6", 150, 0, 200)
gen.add("left_k_gains_7", double_t, 0, "k_gains for joint 7", 30, 0, 80)
gen.add("left_d_gains_1234", double_t, 0, "d_gains for joint 1234", 40, 0, 80)
gen.add("left_d_gains_5", double_t, 0, "d_gains for joint 5", 25, 0, 60)
gen.add("left_d_gains_6", double_t, 0, "d_gains for joint 6", 20, 0, 50)
gen.add("left_d_gains_7", double_t, 0, "d_gains for joint 7", 10, 0, 30)

gen.add("right_translational_stiffness", double_t, 0, "Cartesian translational stiffness", 200, 0, 400)
gen.add("right_rotational_stiffness", double_t, 0, "Cartesian rotational stiffness", 10, 0, 30)
gen.add("right_nullspace_stiffness", double_t, 0, "Stiffness of the joint space nullspace controller (the desired configuration is the one at startup)", 0, 0, 100)
gen.add("right_k_gains_1234", double_t, 0, "k_gains for joint 1234", 500, 0, 650)
gen.add("right_k_gains_5", double_t, 0, "k_gains for joint 5", 200, 0, 300)
gen.add("right_k_gains_6", double_t, 0, "k_gains for joint 6", 150, 0, 200)
gen.add("right_k_gains_7", double_t, 0, "k_gains for joint 7", 30, 0, 80)
gen.add("right_d_gains_1234", double_t, 0, "d_gains for joint 1234", 40, 0, 80)
gen.add("right_d_gains_5", double_t, 0, "d_gains for joint 5", 25, 0, 60)
gen.add("right_d_gains_6", double_t, 0, "d_gains for joint 6", 20, 0, 50)
gen.add("right_d_gains_7", double_t, 0, "d_gains for joint 7", 10, 0, 30)

exit(gen.generate(PACKAGE, "dynamic_compliance", "dual_arm_compliance_param"))
