<?xml version="1.0" ?>
<launch>
  <arg name="robot_ip" default="192.168.0.120"/>
  <arg name="load_gripper" default="true" />
  <rosparam param="/customized_gravity_direction">
    <!-- [8.43146569, 4.86794596, -1.20398857] -->
    [7.7643666267395020, 5.8736524581909180, -1.2045484781265259]
  </rosparam>
  <rosparam param="/tool_vector">
    [-0.01, 0.0, 0.03]
  </rosparam>
  <param name="/tool_mass" value="0.73"/>

  <include file="$(find franka_control)/launch/franka_control.launch" >
    <arg name="robot_ip" value="$(arg robot_ip)" />
    <arg name="load_gripper" value="$(arg load_gripper)" />
  </include>

  <rosparam command="load" file="$(find franka_controllers)/config/franka_controllers.yaml" />
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="cartesian_impedance_controller"/>
  <node pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find franka_example_controllers)/launch/rviz/franka_description_with_marker.rviz"/>
  <node name="interactive_marker" pkg="franka_example_controllers" type="interactive_marker.py" required="true" output="screen">
    <param name="link_name" value="panda_link0" />
  </node>
  <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" required="false" />
</launch>